{
    "extends": "agrc",
    "globals": {
        "AGRC": true,
        "ga": true,
        "intern": true
    },
    "env": {
        "jquery": true
    },
    "rules": {
        "no-prototype-builtins": 0
    }
}
