_SpecRunner.html
.DS_Store
.grunt/
.project
.pydevproject
*.idea/
*.noseids
*.odc
*.pyc
*.sde
api/Search.Api/.nuget
api/Search.Api/.vs
deploy/
dist/
html-report/
node_modules/
scripts/download/.noseids
scripts/download/DeqEnviro.py
scripts/nightly/gspread
scripts/nightly/Logs
scripts/nightly/requests
scripts/nightly/scratch.gdb
scripts/nightly/settings/__init__.py
scripts/nightly/settings/dev.py
scripts/nightly/settings/prod.py
scripts/nightly/settings/stage.py
scripts/secrets.cfg
secrets.json
src/
scripts/nightly/settings/ut-dts-agrc-deq-enviro-prod-aecfbfdedcc3.json
*.ipynb
