.DS_Store
*.idea/
*.noseids
*.odc
*.pyc
*.sde
deploy/
node_modules/
scripts/download/.noseids
scripts/download/DeqEnviro.py
scripts/nightly/gspread
scripts/nightly/Logs
scripts/nightly/requests
scripts/nightly/scratch.gdb
scripts/nightly/settings/__init__.py
scripts/nightly/settings/dev.py
scripts/nightly/settings/prod.py
scripts/nightly/settings/stage.py
scripts/secrets.cfg
secrets.json
scripts/nightly/settings/ut-dts-agrc-deq-enviro-prod-aecfbfdedcc3.json
*.ipynb
