{
    "stageHost": "<hostname or ip address>",
    "prodHost": "<hostname or ip address>",
    "username": "<username>",
    "password": "<password>",
    "sauce_name": "<username>",
    "sauce_key": "<key>",
    "ags_username": "<arcgis server username>",
    "ags_password": "<arcgis server password>"
}
