<div class="hidden">
    <h4>Download Search Results (<span data-dojo-attach-point="countNode">0</span>)</h4>
    <div data-dojo-attach-point="errMsg" class="alert alert-danger hidden"></div>
    <div data-dojo-attach-point='downloadAnchorContainer' 
        class="alert alert-info hidden text-center">
        <a data-dojo-attach-point="downloadAnchor">Click here to download your data</a>
    </div>
    <div class="file-types">
        <select data-dojo-attach-point="fileTypes" class='form-control'>
            <option value="">select format</option>
            <option value="xls">.xls</option>
            <option value="csv">.csv</option>
            <option value="fgdb">ESRI file geodatabase</option>
            <option value="shp">ESRI shapefile</option>
        </select>
    </div>
    <button class="btn btn-primary btn-lg btn-block"
        data-dojo-attach-event='click: download'
        data-dojo-attach-point='downloadBtn'>Download</button>
</div>
