<div class="hidden">
    <div class="form-group">
        <label>Download Search Results (
            <span data-dojo-attach-point="countNode">0</span>)
        </label>
        <div class="file-types">
            <select data-dojo-attach-point="fileTypes">
                <option selected="true"></option>
                <option value="xls">as .xls</option>
                <option value="csv">as .csv</option>
                <option value="fgdb">as file geodatabase</option>
                <option value="shp">as shapefile</option>
            </select>
        </div>
    </div>
    <div class="btn btn-success">Download</div>
</div>
