@import '../../../bootstrap-datepicker/css/datepicker3.css';
@import '../../../bootstrap-select/dist/css/bootstrap-select.css';

.user-admin-user .modal-dialog {
    width: 630px;
}
.user-admin-user .container {
    width: 100%;
}
.datepicker {
    z-index: 1051 !important;
}
.user-admin-user ul {
    padding: 0;
    margin-top: -15px;
}