@import '../../agrc/resources/map/BaseMap.css';
@import '../../bootstrap/dist/css/bootstrap-theme.css';
@import '../../bootstrap/dist/css/bootstrap.css';
@import '../../dijit/themes/claro/claro.css';
@import '../../esri/css/esri.css';
@import '../../ijit/resources/authentication/LoginRegister.css';
@import '../map/resources/MapButton.css';
@import '../map/resources/MapLayersPopover.css';
@import '../map/resources/MeasureTool.css';
@import '../map/resources/Print.css';
@import '../search/resources/Search.css';
@import '../security/resources/_RequestPane.css';

body, html, .app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #444;
}
.app .container-with-border {
    border: 1px solid #b5bcc7;
}
.app a h4 {
    color: #333;
}

/* TITLE PANE */
.app .title-container {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    padding: 8px;
}
.app .title-container h1 {
    font-family: Arial, sans-serif;
    margin: 5px 0 0 60px;
    font-size: 40px;
    letter-spacing: -2px;
}
.app .title-container .version {
    font-size: 16px;
    text-decoration: none;
    color: gray;
    letter-spacing: 0;
}
.app .title-container .version:hover {
    text-decoration: underline !important;
}
.app .title-container>img {
    position: absolute;
    top: -3px;
    left: 0;
}
.app .title-container .links-container {
    position: absolute;
    right: 10px;
    top: 5px;
}
.app .title-container .login-register-logout,
.app .title-container .login-register-logout .dropdown,
.app .title-container [data-dojo-attach-point='logoutDiv'] {
    display: inline;
}

/* SIDE BAR */
.app .side-bar-container {
    width: 350px;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    right: 5px;
    top: 75px;
    bottom: 5px;
}
.app .side-bar-container>.panel-group>.panel {
    border-radius: 0;
}
.app .side-bar-container>.panel-group>.panel {
    margin-top: -1px;
}
.app .side-bar-container>.panel-group {
    margin: -1px;
}
.app .side-bar-container>.panel-group>.panel>.panel-heading {
    padding: 0;
}
.app .side-bar-container>.panel-group>.panel>.panel-heading>a {
    padding: 10px 15px;
    display: block;
}

/* CENTER (MAP) */
.app .center-container {
    position: absolute;
    top: 75px;
    left: 5px;
    bottom: 5px;
    right: 360px;
}
.app .center-container .map-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.app .center-container .grid-identify-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 0 solid #b5bcc7;
    height: 0;
    overflow: hidden;
}
/* map labels */
#labels_layer text {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* GENERAL STUFF */
/* remove orange outline in chrome */
*:focus {
    outline: none;
}
.dijitPopup {
    z-index: 1100 !important;
}
.popover {
    max-width: 300px;
}
.popover-content {
    max-height: 400px;
    overflow-y: auto;
}
.tooltip-inner {
    max-width: 300px;
}

.map .tooltip {
    width: 100px;
    position: absolute;
    border: 1px solid #7EABCD;
    background-color: white;
    padding: 5px;
    font-size: 9pt;
    z-index: 9999;
    border-radius: 4px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.popover-title button.close {
    margin-top: -4px;
}
