.wizard .panel-body {
    height: 200px;
    padding: 0;
}
.wizard .dijitContentPane {
    padding: 0 8px;
    margin: 0;
    width: 100% !important;
}
.wizard .dijitContentPane:first-child p {
    margin-top: 10px;
}