<div>
    <div data-dojo-attach-point='wellDiv' class="well">
        <address>
            <strong>${first} ${last}</strong><br>
            ${agency}<br>
            <a href="mailto:${email}">${email}</a>
        </address>
        <div class="hidden" data-dojo-attach-point='roleBtnGroup'></div>
        <button type='button' class='btn btn-default'
            data-dojo-attach-event='onclick: open'>Approve</button>
        <button type='button' class="btn btn-danger"
            data-dojo-attach-event='onclick: reject'>Reject</button>
        <div class="alert alert-danger" data-dojo-attach-point="errMsgDiv"></div>
    </div>
</div>