@import 'DateFilter.css';
@import 'FieldFilter.css';
@import 'RadioFilter.css';

.query-layer-filter [data-dojo-attach-point='filtersContainer'] {
    max-height: 340px;
    overflow-y: auto;
    margin-bottom: 5px;
}
.query-layer-filter [data-dojo-attach-point='filtersContainer'] hr {
    margin: 0;
}
