.related-table-grid {
    overflow-x: auto;
    height: 179px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.related-table-grid .dgrid {
    margin: 0px -2px -2px -2px;
    border: none;
}
.related-table-grid .dgrid .dgrid-scroller .dgrid-cell {
    text-overflow: ellipsis;
    white-space: nowrap;
}
