@import 'QueryLayer.css';
@import 'QueryLayerHeader.css';
@import 'Address.css';
@import 'County.css';
@import 'Shape.css';
@import 'SiteName.css';
@import 'ID.css';
@import 'Stream.css';
@import 'Coordinates.css';
@import '../../../agrc/resources/locate/FindAddress.css';
@import '../../../agrc/resources/locate/MagicZoom.css';
@import 'ResultsGrid.css';
@import 'IdentifyPane.css';
@import '../../download/resources/Download.css';
@import 'AdditionalSearch.css';

.search {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 0;
}
.search .accordion-container {
    flex: 1;
    overflow-y: auto;
}
.search .accordion-container .spacer {
    height: 65px;
}
.search .magic-zoom {
    position: relative;
    margin-left: -5px;
    height: 171px;
}
.search .magic-zoom input {
    width: 279px;
}
.search .magic-zoom .matches-table {
    width: 318px;
}
.search [data-dojo-attach-point='empty'] {
    padding: 0;
}
.search .pad {
    margin-top: 10px;
}
.search .search-button-container {
    border-top: 1px solid #b5bcc7;
    padding: 15px;
}
