<div>
    <div class="accordion-container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#queryLayersPanel" data-toggle="collapse">
                    <h4 class="panel-title">
                        Select Map Data
                    </h4>
                </a>
            </div>
            <div id="queryLayersPanel" class="panel-collapse collapse accordion-collapse"
                data-dojo-attach-point='queryLayersPanel'>
                <div class="panel-body">
                    <div data-dojo-attach-point="queryLayersContainer"></div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#locationPanel" data-toggle="collapse">
                    <h4 class="panel-title">
                        Define Search Criteria
                    </h4>
                </a>
            </div>
            <div id="locationPanel" class="panel-collapse collapse accordion-collapse"
                data-dojo-attach-point='locationPanel'>
                <div class="panel-body">
                    <select class='form-control'
                        data-dojo-attach-point='select'
                        data-dojo-attach-event='onchange: onSelectChange'>
                        <option value="county">Statewide/County</option>
                        <option value="city">City</option>
                        <option value="zip">Zip</option>
                        <option value="address">Street Address</option>
                        <option value="site" data-dojo-attach-point='nameOption'>Name</option>
                        <option value="id" data-dojo-attach-point='idOption'>ID</option>
                        <option value="shape">Shape</option>
                        <option value="stream">NHD Stream Name</option>
                        <option value="coordinates">Coordinates</option>
                    </select>
                    <div data-dojo-attach-point="stackContainer"
                        data-dojo-type="dijit/layout/StackContainer">
                        <div data-dojo-attach-point='empty'
                            data-dojo-type='dijit/layout/ContentPane'></div>
                        <div data-dojo-attach-point='addressPane'></div>
                        <div data-dojo-attach-point="cityPane"></div>
                        <div data-dojo-attach-point="zipPane"></div>
                        <div data-dojo-attach-point="countyPane"></div>
                        <div data-dojo-attach-point="sitePane"></div>
                        <div data-dojo-attach-point="idPane"></div>
                        <div data-dojo-attach-point='shapePane'></div>
                        <div data-dojo-attach-point='streamPane'></div>
                        <div data-dojo-attach-point='coordinatesPane'></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer"></div>
    </div>
    <div class='search-button-container'>
        <div data-dojo-attach-point='errMsg' class="alert alert-danger hidden"></div>
        <button class="btn btn-primary btn-lg btn-block"
            data-dojo-attach-event='onclick: search'
            data-dojo-attach-point='searchBtn'>Search</button>
        <button class="btn btn-default btn-lg btn-block"
            data-dojo-attach-event='onclick: clear'>Clear Search</button>
        <button class="btn btn-default btn-lg btn-block hidden grid-btn"
            data-dojo-attach-event="onclick: hideGrid"
            data-dojo-attach-point='hideGridBtn'>Hide Grid</button>
        <button class="btn btn-default btn-lg btn-block hidden grid-btn"
            data-dojo-attach-event="onclick: showGrid"
            data-dojo-attach-point='showGridBtn'>Show Grid</button>
    </div>
    <div data-dojo-attach-point="downloadDiv"></div>
</div>
