<div>
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <button type="button" class="btn btn-default" value='polygon'>Polygon</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" value='point'>Point</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" value='polyline'>Line</button>
        </div>
    </div>
    <button data-dojo-attach-event='click: onFinishClick'
        data-dojo-attach-point='finishBtn'
        class="btn btn-success btn-block btn-xs hidden">Finish Drawing</button>
    <div class="control-group">
        <label data-dojo-attach-point='bufferLabel'></label>
        <input data-dojo-attach-point='bufferNum' type="number" class='form-control'
            step='0.01'>
    </div>
</div>
