<div>
    <input type="text" data-dojo-attach-point="textBox"
        class="form-control" placeholder='search terms'>
    <div class="radio">
        <label>
            <input type="radio" name='${id}_radioButton'
                data-dojo-attach-point="allRadio" checked>
            Include results with <u>all</u> search terms
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name='${id}_radioButton'
                data-dojo-attach-point='anyRadio'>
            Include results with <u>any</u> of the search terms
        </label>
    </div>
</div>