<div>
    <select data-dojo-attach-point='select'
        data-dojo-attach-event='onchange: onChange' class='form-control'>
        <option value="STATEWIDE">Statewide</option>
        <option value='BEAVER'>Beaver</option>
        <option value='BOX ELDER'>Box Elder</option>
        <option value='CACHE'>Cache</option>
        <option value='CARBON'>Carbon</option>
        <option value='DAGGETT'>Daggett</option>
        <option value='DAVIS'>Davis</option>
        <option value='DUCHESNE'>Duchesne</option>
        <option value='EMERY'>Emery</option>
        <option value='GARFIELD'>Garfield</option>
        <option value='GRAND'>Grand</option>
        <option value='IRON'>Iron</option>
        <option value='JUAB'>Juab</option>
        <option value='KANE'>Kane</option>
        <option value='MILLARD'>Millard</option>
        <option value='MORGAN'>Morgan</option>
        <option value='PIUTE'>Piute</option>
        <option value='RICH'>Rich</option>
        <option value='SALT LAKE'>Salt Lake</option>
        <option value='SAN JUAN'>San Juan</option>
        <option value='SANPETE'>Sanpete</option>
        <option value='SEVIER'>Sevier</option>
        <option value='SUMMIT'>Summit</option>
        <option value='TOOELE'>Tooele</option>
        <option value='UINTAH'>Uintah</option>
        <option value='UTAH'>Utah</option>
        <option value='WASATCH'>Wasatch</option>
        <option value='WASHINGTON'>Washington</option>
        <option value='WAYNE'>Wayne</option>
        <option value='WEBER'>Weber</option>
    </select>
    <div class="alert alert-danger hidden" data-dojo-attach-point="errMsg"></div>
</div>