<div>
    <span data-dojo-attach-point="noRelatedTablesMsg"
        class='alert alert-info'>
        There is no additional data available at this time.
    </span>

    <div data-dojo-attach-point="tabsDiv">
        <ul data-dojo-attach-point='pillsDiv'
            class='nav nav-tabs' role='tablist'>
<!--             
            <li class="active">
                <a href="#test1" role="tab" data-toggle='tab'>Test Table One</a>
            </li>
            <li>
                <a href="#test2" role="tab" data-toggle='tab'>Test Table Two</a>
            </li>
 -->        
        </ul>
        
        <div data-dojo-attach-point='panesDiv'
            class="tab-content">
<!--             
            <div class="tab-pane active" id="test1">grid one</div>
            <div class="tab-pane" id='test2'>grid two</div>
 -->        
        </div>
    </div>
</div>