<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#queryLayersPanel" data-toggle="collapse">
                <h4 class="panel-title">
                    Select Query Layers
                </h4>
            </a>
        </div>
        <div id="queryLayersPanel" class="panel-collapse collapse"
            data-dojo-attach-point='queryLayersPanel'>
            <div class="panel-body">
                <div data-dojo-attach-point="queryLayersContainer"
                    class='panel-group'></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#locationPanel" data-toggle="collapse">
                <h4 class="panel-title">
                    Define Search Criteria
                </h4>
            </a>
        </div>
        <div id="locationPanel" class="panel-collapse collapse"
            data-dojo-attach-point='locationPanel'>
            <div class="panel-body">
                <select class='form-control'
                    data-dojo-attach-point='select'
                    data-dojo-attach-event='onchange: onSelectChange'>
                    <option value="empty">select a search type</option>
                    <option value="address">Street Address</option>
                    <option value="city">City</option>
                    <option value="county">Statewide/County</option>
                    <option value="site">Name</option>
                    <option value="id">ID</option>
                    <option value="shape">Shape</option>
                </select>
                <div data-dojo-attach-point="stackContainer" 
                    data-dojo-type="dijit/layout/StackContainer">
                    <div data-dojo-attach-point='empty'
                        data-dojo-type='dijit/layout/ContentPane'></div>
                    <div data-dojo-attach-point='addressPane'></div>
                    <div data-dojo-attach-point="cityPane"></div>
                    <div data-dojo-attach-point="countyPane"></div>
                    <div data-dojo-attach-point="sitePane"></div>
                    <div data-dojo-attach-point="idPane"></div>
                    <div data-dojo-attach-point='shapePane'></div>
                </div>
            </div>
        </div>
    </div>
    <div class='search-button-container'>
        <div data-dojo-attach-point='errMsg' class="alert alert-danger hidden"></div>
        <button class="btn btn-primary btn-lg btn-block"
            data-dojo-attach-event='onclick: search'
            data-dojo-attach-point='searchBtn'>Search</button>
        <button class="btn btn-default btn-lg btn-block"
            data-dojo-attach-event='onclick: clear'>Clear</button>
        <button class="btn btn-default btn-lg btn-block hidden grid-btn"
            data-dojo-attach-event="onclick: hideGrid"
            data-dojo-attach-point='hideGridBtn'>Hide Grid</button>
        <button class="btn btn-default btn-lg btn-block hidden grid-btn"
            data-dojo-attach-event="onclick: showGrid"
            data-dojo-attach-point='showGridBtn'>Show Grid</button>
    </div>
    <div data-dojo-attach-point="downloadDiv"></div>
</div>