@import 'QueryLayerFilter.css';

.query-layer .glyphicon.No {
    display: none !important;
    visibility: hidden !important;
}
.query-layer .glyphicon.Yes {
    color: #cdaf42;
}
.query-layer.disabled label {
    cursor: not-allowed;
}
.query-layer .filter {
    color: #c3c3c3;
}
.query-layer .filter.enabled {
    color: black;
}
