@import url('./RelatedTableGrid.css');

.related-tables,
.related-tables [data-dojo-attach-point='tabsDiv'] {
    height: 100%;
    position: relative;
    overflow: hidden;
}
.related-tables .alert.alert-info {
    position: absolute;
    top: 40px;
}
.identify-pane .related-tables .tab-content {
    overflow-x: auto;
    overflow-y: hidden;
}