@import './GridRowHeader.css';
.results-grid {
    height: 100%;
}
.results-grid .dgrid {
    height: 100%;
    border: none;
}
.results-grid .dgrid .field-UNIQUE_ID {
    display: none;
}
.results-grid .dgrid-scroller .dgrid-cell {
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    border-bottom: 1px solid #ddd;
}
.results-grid .dgrid-row:hover {
    background-color: #fafafa;
}
.results-grid .field-ID[role='columnheader'] {
    border-left: none;
}
.results-grid .field-CITY[role='columnheader'] {
    border-right: none;
}
.results-grid .dgrid-cell .btn-xs {
    line-height: 1.25;
    position: absolute;
    left: 3px;
}
.results-grid .dgrid-cell .btn-cont {
    position: relative;
}
.results-grid .dgrid-cell .btn-cont span {
    margin-left: 5px;
}
.results-grid .dgrid-row .btn-cont button {
    display: none;
    visibility: hidden;
}
.results-grid .dgrid-row:hover .btn-cont button,
.results-grid .dgrid-row .btn-cont button.touch {
    display: inline-block;
    visibility: visible;
}