.results-grid .dgrid {
    height: 250px;
}
.results-grid .dgrid .field-UNIQUE_ID {
    display: none;
}
.results-grid .dgrid-scroller .dgrid-cell {
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
}
.results-grid .dgrid-row-odd {
    background: #F2F5F9;
}
.results-grid .field-ID[role='columnheader'] {
    border-left: none;
}
.results-grid .field-CITY[role='columnheader'] {
    border-right: none;
}
.results-grid .dgrid-grid {
    border-right: none;
    border-left: none;
}
.results-grid .dgrid-content>.dgrid-row {
    cursor: pointer;
    background-color: white;
}
.results-grid .dgrid-content>.dgrid-row td:hover {
    text-decoration: underline;
}