@import 'QueryLayer.css';
@import 'QueryLayerHeader.css';
@import 'Address.css';
@import 'County.css';
@import 'Shape.css';
@import 'SiteName.css';
@import 'ID.css';
@import '../../../agrc/resources/locate/FindAddress.css';
@import '../../../agrc/resources/locate/MagicZoom.css';
@import 'ResultsGrid.css';

.search .panel-group {
    margin-bottom: 0;
}
.search .magic-zoom {
    position: relative;
    margin-left: -5px;
    height: 171px;
}
.search .magic-zoom input {
    width: 279px;
}
.search .magic-zoom .matches-table {
    width: 318px;
}
.search .dijitStackContainer {
    margin-bottom: 20px;
}
.search [data-dojo-attach-point='empty'] {
    padding: 0;
}
.search .pad {
    margin-top: 10px;
}
.search .search-button-container {
    padding: 15px;
}