<div>
    <button data-dojo-attach-event='click: print'
        data-dojo-attach-point='printBtn'
        class="btn btn-primary btn-block">Export Map as PDF</button>       
    <div data-dojo-attach-point='downloadLinkAlert'
        class="alert alert-info hidden">
        <a href="" target='_blank' 
            data-dojo-attach-point="downloadLink"
            data-dojo-attach-event='onclick: hideLink'>
            Click here to download your map
        </a>
    </div>
    <div data-dojo-attach-point='errMsg'
        class="alert alert-danger hidden">error message</div>
</div>