@tailwind base;
@tailwind components;
@tailwind utilities;

.utah-design-system.main-menu__outer {
  display: none;
}

/* required for the header */
.utah-design-system {
  --primary-color: theme('colors.primary');
}

/* overwrite calcite fonts */
:root {
  font-family: theme('fontFamily.sans');
}

.esri-view .esri-view-surface--inset-outline:focus::after {
  @apply outline-none;
}
