@import url('./utah-design-system/typography.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* required for utah design system icons */
/* todo: move to separate css file imported into icon component */
@font-face {
  font-family: 'utah design system';
  src: url('https://cdn.utah.gov/design-system/fonts/utah-design-system.eot');
  src: url('https://cdn.utah.gov/design-system/fonts/utah-design-system.eot?#iefix')
      format('embedded-opentype'),
    url('https://cdn.utah.gov/design-system/fonts/utah-design-system.woff')
      format('woff'),
    url('https://cdn.utah.gov/design-system/fonts/utah-design-system.ttf')
      format('truetype'),
    url('https://cdn.utah.gov/design-system/fonts/utah-design-system.svg#utah-design-system')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

/* required for utah design system header */
.utah-design-system {
  --primary-color: theme('colors.primary');
}
.utah-design-system.main-menu__outer {
  display: none;
}
.utah-design-system.utds-official-website-popup__wrapper {
  z-index: 1;
}

/* overwrite calcite fonts */
:root {
  font-family: theme('fontFamily.sans');
}

.esri-view .esri-view-surface--inset-outline:focus::after {
  @apply outline-none;
}
