@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  position: absolute;
  top: 78px;
  bottom: 0;
  left: 0;
  right: 0;
}

.utah-design-system.main-menu__outer {
  display: none;
}

.utah-design-system {
  --primary-color: #0080b7;
  --secondary-color: #add361;
}

.esri-view .esri-view-surface--inset-outline:focus::after {
  @apply outline-none;
}
